.blog_cards{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* min-width: 30%; */
  border-radius: 6px !important;
  gap: 1em;

}
.blog_card_img{
  margin: auto auto;
}
.blog_link{
  width: 32%;
}
.blog_card_component{
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 12px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.3rem;
}

.blog_card_title{
  text-align: center;
  width: 90%;
  margin: auto auto;
}
.blog_card_text {
  text-align: center;
  width: 90%;
  margin: auto auto;
  text-align: justify;
}
.img_div{
  width: 70%;
  height: 70%;
}

.blog_card_title{
  margin-bottom: 1rem;
}
@media screen and (max-width: 862px) {
.blog_card_component{
  width: 100%;
}
.blog_link{
  width: 45%;
}
.blog_card_title,.blog_card_text {
  width: 100% !important;
}
}

@media screen and (max-width: 550px) {

  .blog_link{
    width: 100%;
  }
  .blog_card_title,.blog_card_text {
    width: 100%;
  }
 
  .img_div{
    width: 100%;
  }
  }